{# contrôleur racine (niveau 1) générique #}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{# ici le bloc title #}</title>
        {# ici le bloc css #}
        {# ici le bloc javascript #}
    </head>
    <body>
        {# ici le bloc body #}
    </body>
</html>
